.wrapper{
  display: grid;
  grid-template-areas: "title title title"
  "pokemon-list . pokemon-overview";
  grid-template-columns: 40% 5% 55%;
  width: 90vw;
  margin: 0 auto;
  
  overflow: hidden;
    #pokemon-list{
      grid-area: pokemon-list;
    
    }
    app-pokemon-overview{
      grid-area: pokemon-overview;
    }
}


h1{
  grid-area: title;
}

.pokemon-card{
  display: grid;
  grid-template-areas: "list-infos list-image";
  grid-template-columns: "auto auto";
  background-color: red;
  min-width: 150px;
  max-width: 200px;
  border-radius: 25px;

   &:hover {
    background-color: darkred!important;

  }
  .list-element-type{
    border-radius: 25px;
    background-color: darksalmon;
    margin: 1fr;
  }
  .list-infos{
    display: block;
    margin-left: 34px;
    grid-area: list-infos;
    font-size:100%;
    text-align: center;
  }
  .list-image{
    grid-area: list-image;
  }
}
