<ng-form class="example-form" (submit)="submit()">
  <mat-form-field class="example-full-width">
    <input id="searchField" matInput placeholder="Pokemon" aria-label="Pokemon"
      [matAutocomplete]="auto" [formControl]="pokemonCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let pokemon of filteredPokemons | async"
        [value]="pokemon.name">
        <span>{{pokemon.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button type="submit" (click)="submit(searchField)">search</button>
</ng-form>
