::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.pokemon-card-2{
  border-radius: 50px !important;
}
mat-card-header{
  display: flex;
  flex-direction: column !important;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  padding-top: 20px;

  .top-upper-part{
    display: flex;
    flex-direction: row;
    .top-container-left{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-left: 20px;
      .name{
        font-family: fantasy;
        color:#F9F9F9;
        display:flex;
      }
      .edit-icon{
        &:hover{
          cursor: pointer;
        }
      }
      .button-group{
        display: inline;
        button{
          opacity: 0.9 ;
          &:hover{
            opacity: 1;
          }
        }
      }
      .element-type{
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        border: solid 2px gray;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
        width: 50%;
        color:#F9F9F9;
        
      }
      mat-card-subtitle{
        display: flex;
      }
    }
      .top-container-right{
        flex-basis: 50%;
        width: 50%;
        display: flex!important;
        justify-content: flex-end!important;
        margin-right: 20px!important;
        font-family: fantasy;
        color: #F9F9F9;
        flex-grow: 3!important;
      }
    }
    .top-lower-part{
      .middle-container{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    svg{
      top: 1vh;
      opacity: 0.3;
      left: 24vw;
      .st0{
        // fill:red;
      }
    }
  }
}
mat-card-content{
  .mat-tab-group{
    background-color: #FFFFFF!important;
    border-bottom-left-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
  }
  .mat-tab-labels { 
    border-top-left-radius: 25px!important;
    border-top-right-radius: 25px!important;
    .mat-tab-label{
      min-width: 72px !important;
      padding: 5px;
      @media (max-width: 400){
        max-width: 50px
      }

    }
  
  }
  .mat-tab-body-content{
    margin-left: 20px;
  }
  .pokemon-info-tab{
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
  
    .about{}
    .base-stats{
      .hp.attack.defense.sp-atk.sp-def.evolutions.moves{
        // display: flex;
        // flex-direction: row ;
      }
    }
    .evolution{}
    .moves{}
  
  }
  
  .pokemon-image{
    
  }
  
}



//restyling


// mat-card{
//   display: block;
// }

