<mat-grid-list class="pokemon-list" [cols]="breakpoint" rowHeight="150px"
  gutterSize="20px"
  (window:resize)="onResize($event)">
  <div *ngIf="pokemonArray.length >0 ">
    <mat-grid-tile class="pokemon-card"
      *ngFor="let pokemon of
      pokemonArray"
      colspan="1"
      rowspan="1"
      (click)="highlightPokemon(pokemon)"
      [style.background-color]="typeColor(pokemon)">
      <div class="list-infos">
        {{pokemon.name}}
        <div *ngFor="let type of pokemon.types">
          <span class="list-element-type">{{type.type.name}}</span>
        </div>
      </div>
      <img class="list-image" [src]="pokemon.sprites.front_default"
        alt="pokemon_sprite">

      </mat-grid-tile>
    </div>
</mat-grid-list>
