::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

    #pokemon-list{
      grid-area: pokemon-list;
    
    }
    app-pokemon-overview{
      grid-area: pokemon-overview;
    }
    mat-grid-list{
      max-height: 75vh;
      min-width: 200px;
      overflow: auto;
      scrollbar-width: 0px;
      ::webkit-scrollbar { display: none; }
      border: 2mm ridge rgba(12, 181, 233, 0.6);
      border-radius: 15px;
      .pokemon-card{
        display: grid;
        grid-template-areas: "list-infos list-image";
        grid-template-columns: "auto auto";
        min-width: 150px;
        max-width: 150px;
        height: 150px;
        width: 150px;
        border-radius: 25px;
      
         &:hover {
          border: black 3px double !important;
          cursor: pointer;
        }
        .list-element-type{
          border-radius: 25px;
          opacity: 1;
          margin: 1fr;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

        }
        .list-infos{
          display: block;
          margin-left: 34px;
          grid-area: list-infos;
          font-size:100%;
          text-align: center;
          color:#F9F9F9;
          
        }
        .list-image{
          grid-area: list-image;
        }
      }
    }


.example-viewport {
  height: 500px;
  width: 40vw;
  margin-bottom: 50px;
  border: 1px solid black;
}
.example-item{
  height: 200px;
}

