.wrapper{
  display: grid;
  @media screen and (max-width: 800px) {
    grid-template-columns: 100%;
    grid-template-areas: "top"
    "pokemon-list "
    "pokemon-overview ";
  }
  @media screen and (min-width: 800px) {
    grid-template-columns: 45% 5% 50%;
    grid-template-areas: "top top top"
    "pokemon-list . pokemon-overview ";
  }
  grid-auto-rows: minmax(100px, auto);



  width: 90vw;
  // max-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  svg{
    position: fixed;
    top: -10vh;
    z-index: -1000;
  }
  
  .top{
    grid-area: top;
    display:grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "title title . . . . nav-bar nav-bar nav-bar"
    "title title previous-page next-page . . . . .";

    .nav-bar{
      grid-area: nav-bar;
    }
    .title{
      grid-area:title
    }
    .next-page{
      grid-area:next-page
    }
    .previous-page{
      grid-area:previous-page
    }
    .search-icon{
      grid-area:search-icon
    }
    app-search-bar{
      grid-area:search-bar
    }

  }
  
  app-pokemon-list{
    grid-area: pokemon-list;
  }
  app-pokemon-overview{
    grid-area: pokemon-overview
  }
}
