.wrapper{
  display: grid;
  grid-template-areas: "top top top"
  "pokemon-list . pokemon-overview ";
  grid-template-columns: 45% 5% 50%;
  width: 90vw;
  // max-height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  
  .top{
    grid-area: top;
  }
  
  app-pokemon-list{
    grid-area: pokemon-list;
  }
  app-pokemon-overview{
    grid-area: pokemon-overview
  }
}
